* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --greyish: #BDBDBD;
    --light-grey: #B9BDCF;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,0,211,1) 100%);
}
.profile-header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,12,90,1) 100%);
}
.img-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(153,50,204,1) 100%);
}

@media only screen and (min-device-width: 980px) {

    .profile-header{
        width: 100%;
        height: 45vh;
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .blank {
        width: 20%;
    }

    .profile {
        width: 20%;
        margin-top: 3vw;
        text-align: center;
    }

    #profile-pic {
        width: 12vw;
        height: 12vw;
        border-radius: 15%;
        margin-bottom: 1vw;
    }

    .name {
        width: 100%;
        margin-bottom: 1vw;
        font: normal 600 normal 2vw 'Montserrat', sans-serif;
        align-self: center;
        color: #000;
    }

    .location {
        width: 100%;
        align-self: center;
        text-align: center;
        font: normal 600 normal 1vw 'Montserrat', sans-serif;
        margin-bottom: 1vw;
        color: var(--greyish);
    }

    .counters {
        width: 20%;
        height: 12vw;
        margin-top: 3vw;
    }

    .posts, .followers, .following {
        width: 6vw;
        height: 25%;
        text-align: center;
        border-radius: 12px;
        font: normal 600 normal 1.5vw 'Montserrat', sans-serif;
        color: #000;
        margin-bottom: 6.25%;

    }
    .posts {
        margin-top: 6.25%;
    }

    #counter :nth-child(2) {
        font: normal 600 normal 1vw 'Montserrat', sans-serif;
        color: var(--greyish);
    }

    .img-container {
        width: 55vw;
        border-radius: 1%;
        margin: auto;
        margin-bottom: 2vh;    
        padding: 2vw;    
    }

    .row1, .row2, .row3 {
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .row1, .row2 {
        margin-bottom: 1vw;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #img5,
    #img6 {
        width: 25vw;
        height: 20vw;
        max-width: 99%;
    }

    .imagem {
        border-radius: 12px;
        cursor: pointer;
        transition: 0.3s;

    }

    .imagem:hover {
        opacity: 0.7;
    }

    footer {
        text-align: center;
        font: normal 700 normal 1vw 'Montserrat', sans-serif;
        color: var(--light-grey);
        margin-bottom: 5px;
    }

    .modal {

        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 3vw;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        margin: auto;

    }

    .modalDiv {
        width: 100vw;
        height: 100vh;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        display: flex;
    }

    .modal-content {
        height: 70%;
        max-width: 70vw;
    }
    
    .close {
        width: 5vw;
        height: 5vw;
        color: #f1f1f1;
        font-size: 4vw;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}



@media only screen and (max-device-width: 979px) {
    
    .profile-header{
        width: 100vw;
        height: 18vh;
        display: flex;
        margin: auto;
        margin-bottom: 2vw;
        justify-content: space-around;
        padding: 0 0 2vw 2vw ;
    }

    .blank {
        display: none;
    }

    .profile {
        width: 80%;
        margin-top: 3vw;
        display: flex;        
    }

    #profile-pic {
        width: 25vw;
        margin-left: 5vw;
        border-radius: 16px;
    }

    .info {
        width: 100%;
        height: 25vw;
        margin-left: 2vw;
    }

    .name {
        width: 100%;
        height: 40%;
        margin-top: 10%;
        margin-bottom: 15%;
        font: normal 600 normal 5vw 'Montserrat', sans-serif;
        color: #000;
    }

    .location {
        width: 100%;
        height: 25%;
        font: normal 600 normal 3vw 'Montserrat', sans-serif;
        color: var(--greyish);
    }

    .counters {
        width: 20%;
        height: 25vw;
        margin-top: 3vw;
    }
    .posts, .followers, .following {
        width: 6vw;
        height: 25%;
        text-align: center;
        font: normal 600 normal 3vw 'Montserrat', sans-serif;
        color: #000;
        margin-bottom: 6.25%;

    }

    .posts {
        margin-top: 6.25%;
    }

    #counter :nth-child(2) {
        font: normal 600 normal 2vw 'Montserrat', sans-serif;
        color: var(--greyish);
    }

    .img-container {
        width: 90vw;
        border-radius: 1%;
        margin: auto;
        margin-bottom: 4vh;
        padding: 2vw;
    }

    .row1, .row2, .row3 {
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: .5vw;
        margin-bottom: 10px;
    }

    #img1,
    #img2,
    #img3,
    #img4,
    #img5,
    #img6 {
        border-radius: 12px;
        width: 23vh;
        height: 23vh;
        margin-right: 1vw;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    footer {
        text-align: center;
        font: normal 700 normal 3vw 'Montserrat', sans-serif;
        color: var(--light-grey);
    }

    .modal {

        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        margin: auto;
    }

    .modalDiv {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        margin-left: 3vw;
        max-height: 80vw;
        max-width: 90vw;
    }
    
    .close {
        width: 5vw;
        height: 75vw;
        color: #f1f1f1;
        font-size: 5vw;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}